@model List<GolfBag>

<h1>Golf Bags</h1>

@{
	if (@Model != null && @Model.Count > 0)
	{
		<ul>
		@foreach (var bag in Model)
		{
				<li>@bag.Id | 
				<a href="/golfbags/@bag.Id">@bag.Player</a> | 
				Capacity: @bag.Capacity |
				Count: @bag.Clubs.Count
				<form action="/golfbags/Delete/@bag.Id" method="post">
					<button type="submit">Delete @bag.Id</button>
				</form>
				</li>
		}
		</ul>
	}
	else
	{
		<p>No Golf bags to display.</p>
	}
}